
# Ambiente
APP_ENV=
API_PREFIX=

# Use uma chave longa, sem espaços (ou coloque entre aspas)
SECRET_KEY=

#Expiração do token em 60 minutos 
ACCESS_TOKEN_EXPIRES_MINUTES=

# Origem
ALLOWED_ORIGINS=

# Supabase Postgres (psycopg3 + SSL)
DATABASE_URL=
# Se a porta 6543 estiver bloqueada na rede, use a porta 5432:
# DATABASE_URL=


# Redis (Rate limit) — não necessario no tcc pois não há conexão estavel e pode ter conflito se caso usarmos colocar "REDIS_URL=" limite estabelecido de 20vezes por 60min
REDIS_URL=
RATE_LIMIT=

# NewsAPI 
NEWSAPI_KEY=
NEWS_LANGUAGE=

# MailerLite (Newsletter)
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID= # Caso precise 

COINGECKO_API_KEY=

# SMTP (não usado quando MailerLite está configurado) — OPCIONAL
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=

# Google Authenticator — OPCIONAL
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
